header{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEDFD4;
    font-family: 'Lora', serif;
    height: 70px;
    width: 100vw;

}


p{
    font-size: 16px;
}

.left{
    min-width: 75%;
}


.right{
    border-left: solid 1px black;
    padding: 15px;
}


@media screen and (min-width: 640px) {
    header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 157px;

    }

    .left{
        font-size: 30px;
        border-left: 1px solid var(--color-black);
        padding: 50px;
    }

    p{
        transform: rotate(-90deg);
        font-size: 16px;
    }
    
    .right{
        border-top: 1px solid var(--color-black);
        border-left: none;
        padding: 50px;
    
    }
  
  }

/* @media (max-width: 1030px) {

    #accueil {
        flex-direction: column;
        padding: 20px;

    }
  
} */

