<section>

<h2> {{countryTravel.country}} {{countryTravel.city}} </h2>

<img src="{{countryTravel.firstPicture}}" alt="Image de {{countryTravel.country }}" />


<app-travel [title]="'Le voyage'" [text]="countryTravel.travelContent" ></app-travel>

<app-advice [title]="'Notre avis'" [positive]="countryTravel.positive" [negative]="countryTravel.negative" [advises]="countryTravel.advises"></app-advice>

<app-travel [title]="'Le résumé'" [text]="countryTravel.resumeContent" ></app-travel>

<app-button-back class="back"></app-button-back>

</section>

