<section class="first-pics">

    <a routerLink="/article">  
    <div class="imageCountry"> 
          
        <img src="{{ notebook.firstPicture }}" alt="Image de {{ notebook.country }}" />
        <div class="container">
            <h2> {{ notebook.country }}-{{ notebook.city }}
            </h2>
            <div class="date">
                <p>{{notebook.dateGo | date:'dd.MM.yyyy'}} <span>.</span> {{notebook.dateBack | date:'dd.MM.yyyy'}}</p>

            </div>
        </div>
    </div>

</a>
</section>